{% assign insidebar = "t" %}
<div>
  <div class="w3-panel w3-bottombar w3-xlarge">
    Обо мне
  </div>
  {% assign card = site.data.about.short | last %}
  <div class="">
    <div class="w3-center">
      <img src="{{ card.image | default: '/images/about/avatar-man.jpg' }}" class="w3-container w3-margin-top w3-image w3-circle" style="max-width: 250px">
    </div>
    <div class="w3-margin">
      <p>{{ card.text }}</p>
    </div>
  </div>
</div>
<div>
  <div class="w3-panel w3-bottombar w3-xlarge">Meta</div>
  {% include meta.html %}
</div>
