---
---

// https://colorscheme.ru/#0051Tw0w0w0w0

$main-color: #FF0000;
$aux-color-a: #FF7400;
$aux-color-b: #CD0074;

body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

// elements

a {
    color: $main-color;
    text-decoration: none;
}

p {
}

heading {
    color: $aux-color-b;
}

article {
    header {
	h2 {
	    color: $aux-color-b;
	}
	summary {
	    font-style: italic;
	}
    }
}
